#background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
}

/* Animación suave del modal */
.modal-content {
    border-radius: 1rem;
    overflow: hidden;
}